.pyc
.pyo
.egg-info/*
.orig$

.DS_Store
._.

bin/*
develop-eggs/*
eggs/*
src/*
parts/*

.installed.cfg
.mr.developer.cfg
.mr.developer-options.cfg
.vagrant/*


\.ipynb_checkpoints/

corpora/
data/
downloads/