[buildout]
extends =
    versions.cfg

extensions = mr.developer
sources = sources
auto-checkout =
    fowler.corpora

show-picked-versions = true
versions = versions
parts =
    sysegg
    fowler.corpora
    fowler.switchboard
    google-ngram-downloader
    poultry

[sysegg]
recipe = syseggrecipe
eggs =
    cffi
    cython
    gensim
    ipython
    lxml
    matplotlib
    numexpr
    numpy
    openpyxl
    pandas
    patsy
    psutil
    python-dateutil
    pyyaml
    scikit-learn
    scipy
    seaborn
    tables

[sources]
fowler.corpora = git https://github.com/dimazest/fowler.corpora.git

[fowler.corpora]
recipe = zc.recipe.egg
eggs =
    fowler.corpora
scripts =
    corpora
    corpora-ipython
    tornado
interpreter = fowler.corpora-py

[google-ngram-downloader]
recipe = zc.recipe.egg
eggs =
    google-ngram-downloader
scripts =
    google-ngram-downloader

[fowler.switchboard]
recipe = zc.recipe.egg
eggs =
    fowler.switchboard
scripts =
    sw

[poultry]
recipe = zc.recipe.egg
eggs =
    poultry
scripts =
    poultry
